* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: "montserrat", sans-serif;
}

.app-wrapper {
    position: relative;
    padding: 25px;
}

main {
    position: relative;
    width: 400px;
    min-height: 600px;
    overflow: hidden;
    background: #ffffff;
}

ul,
li {
    list-style-type: none;
}

.search-box {
    width: 100%;
}
.search-box__title {
    margin-bottom: 20px;
}
.search-box-bar {
    display: block;
    width: calc(100% - 40px);
    padding: 15px;
    color: #313131;
    font-size: 20px;
    transition: 0.4s;
    margin-right: 10px;
}
.search-box-bar-wrapper {
    display: flex;
}
.search-box-enter {
    background: none;
    outline: none;
    border: none;
    width: 20px;
    cursor: pointer;
}
.search-box-enter svg {
    width: 30px;
}

.location-box .location {
    color: black;
    margin-bottom: 20px;
}

.date {
    color: black;
    font-size: 14px;
}

.noSaved {
    margin-top: 50px;
}
.noSaved-text {
    font-size: 30px;
    margin-bottom: 30px;
}

.weather-icon {
    width: 75px;
    height: 75px;
    background-size: cover;
    margin-right: 15px;
}
.weather-icon img {
    width: 100%;
    height: 100%;
}

.weather-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.weather-box .temp {
    font-size: 25px;
    font-weight: bold;
}

.cityList-item {
    margin-bottom: 30px;
}
.cityList-item:last-child {
    margin: 0;
}

.weather-another {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.weather-another-item {
    display: flex;
    width: 48%;
    align-items: center;
    margin-bottom: 10px;
}
.weather-another-item svg {
    width: 15px;
    margin-right: 5px;
}
.weather-another-text {
    margin-right: 5px;
    font-size: 14px;
}
.weather-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.weather-box .weather {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

.mainScreen {
    position: relative;
    left: -300%;
    transition: 0.75s;
}
.mainScreen.active {
    opacity: 1;
    left: 0;
}

.settings {
    background-color: white;
    padding: 15px;
    position: absolute;
    right: -300%;
    transition: 0.75s;
    width: 100%;
}
.settings.active {
    display: block;
    right: 0;
}
.settings__title-wrapper {
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
.settings__close, .settings__open {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.settings__open {
    position: absolute;
    top: 0;
    right: 0;
}
.settings__list {
    margin-bottom: 30px;
}
.settings__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #f6f6f6;
    cursor: pointer;
}
.settings__list-item-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.settings__list-item-delete {
    border: none;
    outline: none;
    background-color: #f6f6f6;
}
.settings__list-burger {
    width: 20px;
    margin-right: 10px;
}

.ghost {
    opacity: 0.3;
}