<template>
  <div id="weather">
    <main>
      <div class="app-wrapper">
        <div
          v-if="cities.length"
          class="settings"
          :class="{ active: settingsActive }"
        >
          <div class="settings__title-wrapper">
            <p class="settings__title">Settings</p>
            <button @click="closeSettings" class="settings__close">
              <svg
                style="enable-background:new 0 0 24 24;"
                version="1.1"
                viewBox="0 0 24 24"
                width="20px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g id="info" />
                <path
                  d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z"
                  id="exit"
                />
              </svg>
            </button>
          </div>

          <draggable
            :list="cities"
            item-key="name"
            class="settings__list"
            ghost-class="ghost"
            @start="dragging = true"
            @end="dragging = false"
          >
            <template v-for="element in cities" :key="element.name">
              <div class="settings__list-item">
                <div class="settings__list-item-text">
                  <svg
                    class="settings__list-burger"
                    viewBox="0 -53 384 384"
                    width="384pt"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
                    />
                    <path
                      d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
                    />
                    <path
                      d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
                    />
                  </svg>
                  <p>
                    {{ element.weather.name }}
                  </p>
                </div>
                <button
                  class="settings__list-item-delete"
                  @click="clearCustomCity(cities.indexOf(element))"
                >
                  <svg
                    fill="none"
                    height="24"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <polyline points="3 6 5 6 21 6" />
                    <path
                      d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                    />
                    <line x1="10" x2="10" y1="11" y2="17" />
                    <line x1="14" x2="14" y1="11" y2="17" />
                  </svg>
                </button>
              </div>
            </template>
          </draggable>

          <div class="search-box">
            <p class="search-box__title">Add Location</p>

            <div class="search-box-bar-wrapper">
              <input
                type="text"
                class="search-box-bar"
                placeholder="Search..."
                v-model="query"
                @keypress="fetchWeather"
                ref="add"
              />
              <button
                class="search-box-enter"
                id="btn1"
                v-on:click="fetchWeather"
              >
                <svg
                  height="48"
                  id="svg8"
                  version="1.1"
                  viewBox="0 0 12.7 12.7"
                  width="48"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="layer1" transform="translate(0,-284.29998)">
                    <path
                      d="m 9.8777781,289.9444 3e-7,-2.82221 H 8.4666671 v 2.82221 c 0,0.3528 -0.3527779,0.70558 -0.7055555,0.70558 H 4.2333335 l 2.1166668,-2.11667 -0.7055467,-0.70557 -3.5277868,3.52778 3.5277868,3.52779 0.7055467,-0.70557 -2.1166668,-2.11667 h 3.5277781 c 1.2347222,0 2.1166665,-0.88195 2.1166665,-2.11667 z"
                      id="path4483"
                      style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.70555556px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    />
                  </g>
                </svg>
              </button>
            </div>
          </div>
          <h1 v-if="badRequest">Bad request</h1>
        </div>

        <div class="mainScreen" :class="{ active: !settingsActive }">
          <button v-if="cities.length" class="settings__open" @click="settings">
            <svg
              enable-background="new 0 0 32 32"
              id="Glyph"
              version="1.1"
              viewBox="0 0 32 32"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <path
                d="M27.526,18.036L27,17.732c-0.626-0.361-1-1.009-1-1.732s0.374-1.371,1-1.732l0.526-0.304  c1.436-0.83,1.927-2.662,1.098-4.098l-1-1.732c-0.827-1.433-2.666-1.925-4.098-1.098L23,7.339c-0.626,0.362-1.375,0.362-2,0  c-0.626-0.362-1-1.009-1-1.732V5c0-1.654-1.346-3-3-3h-2c-1.654,0-3,1.346-3,3v0.608c0,0.723-0.374,1.37-1,1.732  c-0.626,0.361-1.374,0.362-2,0L8.474,7.036C7.042,6.209,5.203,6.701,4.375,8.134l-1,1.732c-0.829,1.436-0.338,3.269,1.098,4.098  L5,14.268C5.626,14.629,6,15.277,6,16s-0.374,1.371-1,1.732l-0.526,0.304c-1.436,0.829-1.927,2.662-1.098,4.098l1,1.732  c0.828,1.433,2.667,1.925,4.098,1.098L9,24.661c0.626-0.363,1.374-0.361,2,0c0.626,0.362,1,1.009,1,1.732V27c0,1.654,1.346,3,3,3h2  c1.654,0,3-1.346,3-3v-0.608c0-0.723,0.374-1.37,1-1.732c0.625-0.361,1.374-0.362,2,0l0.526,0.304  c1.432,0.826,3.271,0.334,4.098-1.098l1-1.732C29.453,20.698,28.962,18.865,27.526,18.036z M16,21c-2.757,0-5-2.243-5-5s2.243-5,5-5  s5,2.243,5,5S18.757,21,16,21z"
                id="XMLID_273_"
              />
            </svg>
          </button>

          <div class="noSaved" v-if="!cities.length">
            <p class="noSaved-text">
              Please enter your first City
            </p>

            <div class="search-box-bar-wrapper">
              <input
                type="text"
                class="search-box-bar"
                placeholder="Search..."
                v-model="query"
                @keypress="fetchWeather"
                ref="add"
              />
              <button
                class="search-box-enter"
                id="btn2"
                v-on:click="fetchWeather"
              >
                <svg
                  height="48"
                  id="svg8"
                  version="1.1"
                  viewBox="0 0 12.7 12.7"
                  width="48"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="layer1" transform="translate(0,-284.29998)">
                    <path
                      d="m 9.8777781,289.9444 3e-7,-2.82221 H 8.4666671 v 2.82221 c 0,0.3528 -0.3527779,0.70558 -0.7055555,0.70558 H 4.2333335 l 2.1166668,-2.11667 -0.7055467,-0.70557 -3.5277868,3.52778 3.5277868,3.52779 0.7055467,-0.70557 -2.1166668,-2.11667 h 3.5277781 c 1.2347222,0 2.1166665,-0.88195 2.1166665,-2.11667 z"
                      id="path4483"
                      style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.70555556px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    />
                  </g>
                </svg>
              </button>
            </div>
          </div>

          <ul class="cityList" v-if="cities.length">
            <li class="cityList-item" v-for="city in cities" :key="city.index">
              <div
                class="weather-wrap"
                v-if="typeof city.weather.main != 'undefined'"
              >
                <div class="location-box">
                  <div class="location">
                    {{ city.weather.name }}, {{ city.weather.sys.country }}
                  </div>
                </div>

                <div class="weather-box">
                  <div class="weather-icon">
                    <img
                      :src="getImageUrl(city.weather.weather[0].icon)"
                      alt=""
                    />
                  </div>
                  <div class="temp">
                    {{ Math.round(city.weather.main.temp) }}°с
                  </div>
                </div>

                <div class="weather-description">
                  Feels like {{ Math.round(city.weather.main.feels_like) }}°с
                  {{ city.weather.weather[0].description }}
                </div>

                <div class="weather-another">
                  <div class="weather-another-item">
                    <svg
                      id="Layer_1_1_"
                      style="enable-background:new 0 0 16 16;"
                      version="1.1"
                      viewBox="0 0 16 16"
                      xml:space="preserve"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <polygon points="6,16 9,9 16,6 0,0 " />
                    </svg>
                    <span class="weather-another-text"
                      >{{ city.weather.wind.speed }}m/s
                    </span>
                    <span>{{ windDirection(city.weather.wind.deg) }}</span>
                  </div>

                  <div class="weather-another-item">
                    <svg
                      enable-background="new 0 0 24 24"
                      height="24px"
                      id="Layer_1"
                      version="1.1"
                      viewBox="0 0 24 24"
                      width="24px"
                      xml:space="preserve"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <path
                        d="M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12s12-5.4,12-12S18.6,0,12,0z M12,22c-3.7,0-6.9-2-8.7-5h6.9c0.3,1,1,1,1.7,1s1.4,0,1.7-1  h6.9C18.9,20,15.7,22,12,22z M11,16c0-0.6,0-1,1-9c1,8,1,8.4,1,9s-0.4,1-1,1S11,16.6,11,16z M21.2,16H14c0-1,0-4-2-12  c-2,8-2,11-2,12H2.8C2.3,15,2,14,2,12h1.5C3.8,12,4,11.8,4,11.5S3.8,11,3.5,11H2.1c0.1-1,0.6-2.8,1.3-4l1.3,0.7  c0.2,0.1,0.5,0.1,0.7-0.2C5.5,7.3,5.4,7,5.1,6.9L3.9,6.2C4.7,5,5.8,4.1,7,3.3l0.7,1.3C7.9,4.9,8.2,5,8.4,4.8  c0.2-0.1,0.3-0.4,0.2-0.7L7.9,2.9C9.1,2.3,10.5,2,12,2s2.9,0.3,4.1,0.9l-0.7,1.2c-0.1,0.2-0.1,0.5,0.2,0.7s0.5,0.1,0.7-0.2L17,3.3  c1.2,0.7,2.3,1.7,3.1,2.8l-1.2,0.7c-0.2,0.1-0.3,0.4-0.2,0.7c0.1,0.2,0.4,0.3,0.7,0.2L20.7,7c0.7,1.2,1.2,3,1.3,4h-1.4  c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5H22C22,14,21.7,15,21.2,16z"
                      />
                    </svg>
                    <span class="weather-another-text"
                      >{{ city.weather.main.pressure }}hPa</span
                    >
                  </div>

                  <div class="weather-another-item">
                    <span class="weather-another-text"
                      >Humidity: {{ city.weather.main.humidity }}%</span
                    >
                  </div>

                  <div class="weather-another-item">
                    <span class="weather-another-text"
                      >Humidity: {{ city.weather.main.humidity }}%</span
                    >
                  </div>
                </div>

                <div class="date">{{ dateBuilder() }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { VueDraggableNext } from "vue-draggable-next";

export default {
  components: {
    draggable: VueDraggableNext
  },
  name: "App",

  data() {
    return {
      apiKey: "14aadd3539db36016215b53b1a8cf81c",
      urlBase: "https://api.openweathermap.org/data/2.5/",
      query: "",
      cities: [],
      currentCity: null,
      badRequest: false,
      settingsActive: false
    };
  },

  mounted() {
    if (localStorage.cities) {
      this.cities = JSON.parse(localStorage.cities);
    }
  },

  methods: {
    createCity(results) {
      const newCity = { weather: results };
      this.cities.push(newCity);
      localStorage.setItem("cities", JSON.stringify(this.cities));
    },

    settings() {
      this.settingsActive = true;
    },

    clearCustomCity(index) {
      for (let i = 0; i < this.cities.length; i++) {
        if (i === index) {
          this.cities.splice(i, 1);
        }
      }
      if (this.cities.length === 0) {
        this.settingsActive = false;
      }
      localStorage.setItem("cities", JSON.stringify(this.cities));
    },

    closeSettings() {
      this.settingsActive = false;
    },

    getImageUrl(code) {
      const baseUrl = "http://openweathermap.org/img/wn/";
      const resolution = "@2x.png";
      return baseUrl + code + resolution;
    },

    fetchWeather(e) {
      console.log(e.currentTarget);
      if (
        e.key === "Enter" ||
        e.currentTarget.id === "btn1" ||
        e.currentTarget.id === "btn2"
      ) {
        fetch(
          `${this.urlBase}weather?q=${this.query}&units=metric&appid=${this.apiKey}`
        ).then(res => {
          if (res.status === 400 || res.status === 404) {
            this.badRequest = true;
          } else if (res.status === 200) {
            this.badRequest = false;
            return res.json().then(this.createCity);
          }
        });
      }
    },

    dateBuilder() {
      const d = new Date();
      const months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      const days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ];

      const day = days[d.getDay()];
      const date = d.getDate();
      const month = months[d.getMonth()];
      const year = d.getFullYear();

      return `${day} ${date} ${month} ${year}`;
    },

    windDirection(d) {
      const directions = ["N", "NE", "E", "SE", "S", "SW", "W", "NW"];

      d += 22.5;

      if (d < 0) d = 360 - (Math.abs(d) % 360);
      else d = d % 360;

      const w = parseInt(d / 45);
      return `${directions[w]}`;
    }
  }
};
</script>
