<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <Weather />
</template>

<script>
import Weather from "./components/weather/Weather.vue";
import "./assets/styles/css/main.css";

export default {
  name: "App",
  components: {
    Weather
  }
};
</script>
